.Center-text {
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  color: white;
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.Jumbotron {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(115, 114, 114, 1) 93%
  ) !important;
  color: black;
  border-radius: 0rem !important;
  margin-bottom: 0px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.navbar {
  background-color: rgb(0, 0, 0);
}

.navbar-header {
  font-size: 20px;
}
.navbar-login {
  font-size: 20px;
}

.Jumbotron h1 {
  color: rgb(163, 7, 7);
  font-size: 70px;
  text-shadow: 2px 2px 4px #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.Jumbotron h3 {
  text-shadow: 2px 2px 4px #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.movieList {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  border-style: groove;
  font-family: Arial, Helvetica, sans-serif;
}
.form {
  padding-bottom: 20px;
}

.searchForm {
  border-style: groove;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  background-color: white;
}

.home {
  border-style: groove;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  background-color: white;
}

.formLabel {
  font-size: 20px;
  font-weight: bold;
}

.buttonStyle {
  font-size: 17px;
  margin-bottom: 10px;
}

.responsive-img {
  position: relative;
  max-width: 60%;
}

a:link {
  color: white !important;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: white !important;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: rgb(176, 176, 180) !important;
  background-color: transparent;
  text-decoration: underline;
}

input[type="radio"] {
  transform: scale(1.5);
}

.TitleOfSearch {
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.movieListing {
  margin-bottom: 100px;
}

.image {
  box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.2),
    0 14px 12px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  border-radius: 5%;
}

.heading2 {
  color: rgb(163, 7, 7);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #ffffff;
}

.heading3 {
  color: rgb(163, 7, 7);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.heading5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.form {
  font-family: Arial, Helvetica, sans-serif;
}

.form-control:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #777777 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(14, 14, 14, 0.16) !important;
}

a.buttonLink {
  background-color: #3b3b3b;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

a.buttonLink:visited {
  background-color: #3b3b3b;
  color: white;
  text-decoration: none;
}

a.buttonLink:hover {
  background-color: #000000;
  color: white !important;
  text-decoration: none;
}
a.buttonLink:link {
  background-color: #3b3b3b;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

a.homeLink:link {
  text-decoration: none;
}
a.homeLink.hover {
  text-decoration: none !important;
}
