.Center-text {
  text-align: center;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(56, 50, 50);
  color: white;
  text-align: center;
}

.Jumbotron {
  background-color: rgb(56, 50, 50)!important;
  color: white;

}

.navbar{
  background-color: rgb(176, 176, 180);

}

.navbar-header {
  font-size: 25px;

}
.navbar-login{
  font-size: 25px;

}

.Jumbotron h1 {
  font-size: 80px;
}

.movieList {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  background-color: white;
 
  border-radius: 5px;
  border-style: solid;
}